# ============================
# Python
# ============================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.venv/

# Environment Variables
.env

# Logs
*.log

# Distribution / Packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# ML Models
saved_model/
*.joblib
*.pkl

# Dataset (Optional)
# Uncomment if you don't want to upload datasets to GitHub
# data/raw/

# Temporary files
*.tmp
*.bak
*.swp

# Coverage
.coverage
htmlcov/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Bytecode
*.pyc

# SQLite
*.db
*.sqlite3

# ============================
# Flutter / Dart
# ============================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.dill

# ============================
# Android & Gradle
# ============================
.gradle/
local.properties
**/android/.gradle/
**/android/app/build/
**/android/build/